.recommendationSkeletonPiece {
  height: 550px;
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .recommendationSkeletonPiece {
    width: 178px;
    height: 392px;
  }
}

.recommendationShelfContainer {
  gap: 1.5rem;
}
